@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

header{
    height: 100vh;
}


header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A8C7BB;
    background-image: url(../images/cadillac-v-lmdh-race-car-gold-004-scaled-1.webp);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}
h1{
    font-family: 'Berlin Sans FB', sans-serif;
    font-weight: 900;
    font-size: 72px;
    color:#364156;
}
header h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #A8C7BB;
}
header p{
    color: azure;
}
header ol{
    color: azure;
}
header ul{
    color: azure;
}

#seçao-apresentação{
    display: flex;
    gap: 5rem;
    padding: 2rem;
    height: 100vh;
    align-items: center;
}

#seçao-apresentação img{
    border-radius: 50%;
}

#texto-apresentação {
    color: black;
}
#texto-apresentação h2{
    font-size: 3.70rem;
}
#texto-apresentação p{
    font-size: 2.5rem;
}
#secao-projeto{
    height: 100vh;
    background-color: aquamarine;
}
#secao-projeto ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    height: 100%;
}
#secao-projeto li{
    list-style: none;
}

.card {
    max-width: 300px;
    max-height: 420px;
    position: relative;
    cursor: pointer;
}
.card .imagem{
    height: 100%;
    width: 100%;
}
.imagem img{
    height: 100%;
    width: 100%;
}
.card .texto {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s;
}
.card:hover .texto {
    opacity: 1;
}

#secao-orcamento{
    height: 100vh;
    padding: 3rem;
}

#secao-orcamento form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    max-width: 500px;
    margin: 0 auto;
}
.campo {
    display: flex;
    flex-direction: column;
}
.linha {
    grid-column: 1/3;
}

input[type=text],
input[type=number],
select{
    background-color: #364156;
    color: azure;
    border-radius: .25rem;
    border: 0;
    padding: .5rem;
}
input[type=radio],
input[type=checkbox],
input[type=range]{
    accent-color: #4ECDC4;
}